<ion-content padding class="bg-image">
  <div class="center">
    <br><br><br>  
    <app-logo></app-logo>
  </div>
<ion-card>
    <h1>Ingresar</h1>
  <form>
    <ion-list>
      <ion-item>
        <ion-label positon="stacked">Email</ion-label>
        <ion-input autocomplete="off" name="username" type="text" [(ngModel)]="postData.email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label positon="stacked">Contraseña</ion-label>
        <ion-input autocomplete="off" name="password" type="password" [(ngModel)]="postData.password"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <a routerLink='/signup'>Registrarse.</a>
      </ion-item>

      <ion-button expand="block" shape="round" color="warning" (click)="loginAction()">Ingresar</ion-button>
    </ion-list>
  </form></ion-card>
</ion-content>
